$primary-color: #000;
$black-color: #000;
$white-color: #fff;
$gray-color: #666;
$text-color: #333;
$plum-color: #b80257;
$fb-color: #4080ff;
$sub-color: #f47425;
$invalid-color: #f33a58;
$desc-color: #0000008a;
$first-color: #1dbfaf;
$second-color: #1dbfaf;
$button-color: #1dbfaf;
$header-height : 62px;